.venues-detail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.venues-detail__approved-wrapper{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.venues-detail__approved-wrapper img{
    width: 40px;
    height: 40px;
}

.venues-detail__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.venue-banner-wrapper {
    position: relative;
    width: 300px;      /* Make sure width = height for perfect circle */
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.venue-banner {
    width: 100%;       /* Full width of the wrapper */
    height: 100%;      /* Full height of the wrapper */
    object-fit: cover; /* Ensures the image fills the circle */
    
}

.venue-detail__name {
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
    text-align: center;
}

.venue-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.venue-details-text {
    font-size: 16px;
    text-align: center;
    margin: 8px 24px;
    line-height: 1.4;
    color: #808080;
    font-weight: 900;
}

.venue-additional {
    color: var(--active-green);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 16px 32px;
    text-align: center;
}


.venue-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.venue-socials__icon-wrapper {
    background: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0px 8px;
    transition: all 0.2s ease;
}

.venue-socials__icon-wrapper:hover {
    background: var(--active-green);
}

.venue-socials__icon {
    width: 24px;
    height: 24px;
    margin: 0px;
}

.search__title.venue-event-list-title {
    color: rgb(133, 133, 133);
    justify-content: center;
    align-self: center;
    font-size: 24px;
    font-weight: 900;
    margin: 12px auto;
    width: 100%;
}

.follow-button-wrapper {
    align-self: center;
    margin: 12px 0px;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--active-green);
}

.follow-button {
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 24px;
}

.follow-button-wrapper:hover {
    translate: 0px -2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.venue-map-wrapper {
    min-width: 800px;
    justify-self: center;
    align-self: center;
    width: 70%;
}

@media (max-width: 768px) {
    .search__title.venue-event-list-title {
        display: block;
        color: rgb(173, 173, 173);
        font-size: 14px;
        font-weight: 900;
        margin: 0px 12px;
    }

    .follow-button-wrapper {
        align-self: stretch;
        margin: 12px;
    }
}
